upstream {{ item.name }}  {
    server {{ item.server1 }}:{{ item.port }};
{% if item.server2 is defined %}    server {{ item.server2 }}:{{ item.port }}; 
    ip_hash;
{% endif %}
}

server {
    listen 443 ssl;
    server_name {{ ansible_hostname }};
    ssl_certificate {{ server_crt }};
    ssl_certificate_key {{ server_pem }};
    if ($blacklisted_ips = 1) {
        set $notallowed IP;
    }

    if ($request_uri ~ /) {
        set $notallowed "${notallowed}LOC";
    }

    if ($request_uri ~ /.well-known) {
        set $notallowed IP;
    }

    if ($notallowed = IPLOC) {
        return 403;
    }


    location / {
proxy_set_header X-Forwarded-Host $host;
proxy_set_header X-Forwarded-Server $host;
proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
proxy_set_header Host $http_host;
proxy_read_timeout 5m;
proxy_send_timeout 5m;
               proxy_pass https://{{item.name}};

               proxy_http_version 1.1;
               proxy_set_header Upgrade $http_upgrade;
               proxy_set_header Connection "upgrade";
        }
    error_log  /var/log/nginx/{{ item.name }}-error.log ;
    access_log  /var/log/nginx/{{ item.name }}-access.log;
}

