# {{ ansible_managed }}
# default rules
local   all        {{ pguser }}         trust
host    all        {{ pguser }}  127.0.0.1/32  trust
host    all        {{ pguser }}  ::1/128       trust

{% if pgsql_cluster %}
{%   if pgsql_replication_provider == 'repmgr' %}
# replication rules
local   replication   repmgr                                    trust
host    replication   repmgr            127.0.0.1/32            trust
host    replication   repmgr            {{ ( ansible_default_ipv4.network + '/' + ansible_default_ipv4.netmask  ) | ipaddr('net')  }}        trust

local   repmgr        repmgr                                    trust
host    repmgr        repmgr            127.0.0.1/32            trust
host    repmgr        repmgr            {{ ( ansible_default_ipv4.network + '/' + ansible_default_ipv4.netmask  ) | ipaddr('net')  }}        trust
{%   endif %}
{% endif %}

